*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  display: inline-block;
}
body {
  background-color: white;
  min-width: 400px;
  height: 100%;
  font-family: Arial, sans-serif;
}
body a {
  text-decoration: none;
  line-height: 24px;
}
/* Header Section*/
header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}
header a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
svg {
  display: block;
  width: 24px;
  margin: 8px;
  fill: #5f6368;
  border-radius: 50%;
}
.svg-logo {
  border-radius: 50%;
  margin-right: 8px;
}
.svg-logo:hover {
  background-color: #3c404314;
}
a img {
  border-radius: 50%;
  margin: 4px;
  display: block;
}
.img-profile {
  border-radius: 50%;
  margin-right: 4px;
}
.img-profile:hover {
  border-radius: 50%;
  background-color: #3c404314;
}
.header-images {
  margin-right: 19px;
}
.header-gmail {
  margin-right: 15px;
}
.header-gmail:hover,
.header-images:hover {
  text-decoration: underline;
}
/* Logo Section */
.logo-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 290px;
  min-height: 92px;
  height: -webkit-calc(100% - 560px);
  height: -moz-calc(100vh - 560px);
  height: calc(100vh - 560px);
}
.google-logo {
  height: 92px;
}
/* Input Section */
.input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-container {
  display: flex;
  margin: 26px 20px 0 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(223, 225, 229);
  min-width: 420px;
  width: 584px;
  max-width: 584px;
  margin-top: 26px;
  border-radius: 50px;
  height: 46px;
}
.input-container:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.input__input {
  height: 34px;
  flex: 1;
  border: none;
  font-size: 16px;
}
.input__input:focus {
  outline: none;
}
.input__search-icon {
  width: 20px;
  fill: #9aa0a6;
  margin-left: 14px;
}
.input__mic-icon {
  margin-right: 16px;
}
.input__keyboard-icon {
  margin-right: 10px;
  margin-top: 4px;
}
/* Button Section */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  min-width: 54px;
  height: 36px;
  line-height: 27px;
  padding: 0 16px;
  margin: 0 6px;
}
.button:hover {
  border: 1px solid rgb(218, 220, 224);
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
/* Footer Section */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.footer-container a {
  font-size: 14px;
  line-height: 48px;
  padding-left: 35px;
  color: rgba(0, 0, 0, 0.54);
}
.hr {
  border: 1px solid rgba(218, 220, 224, 0.5);
}
.footer-down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container .turkey {
  display: block;
  margin-left: -2px;
  font-size: 15px;
}
.test {
  display: inline-block;
  margin-left: -13px;
}
.test2 {
  margin-right: -10px;
}
.footer-down-center {
  margin-right: 130px;
}
.footer-down-center .leaf {
  display: inline;
  width: 12px;
  margin-right: -29px;
  margin-bottom: -1px;
}

@media only screen and (max-width: 1200px) {
  .footer-down-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
    margin-left: 130px;
  }
  .footer-down-center .leaf {
    display: inline;
    width: 12px;
    margin-right: -29px;
    margin-bottom: -1px;
  }
  .footer-down-left {
    display: flex;
    order: 2;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .footer-down-right {
    order: 2;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 60px;
  }
  .about {
    margin-left: -20px;
  }
  .ads {
    margin-top: 1px;
    margin-right: -20px;
  }
  .company {
    margin-left: 14px;
  }
  .searching {
    margin-left: 6px;
  }
}
@media only screen and (max-width: 756px) {
  .footer-down-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
    margin-left: 130px;
    margin-bottom: -14px;
  }
  .footer-down-center .leaf {
    display: inline;
    width: 12px;
    margin-right: -29px;
    margin-bottom: 2px;
  }
  .footer-down-left {
    display: flex;
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-down-right {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
  }
  .deneme {
    padding-right: 2px;
    margin-right: 20px;
  }
  .test2 {
    padding: 0 6px;
  }
  .about {
    margin-left: -30px;
    margin-top: 10px;
  }
  .ads {
    margin-left: -30px;
    margin-top: 10px;
  }
  .company {
    margin-left: -26px;
    margin-top: 10px;
  }
  .searching {
    margin-left: -24px;
    margin-top: 10px;
  }
}
