*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  min-width: 400px;
  height: 100%;
  font-family: Arial, sans-serif;
}
body a {
  text-decoration: none;
  line-height: 24px;
}
/* Header Section*/
header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}
header a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
svg {
  display: block;
  width: 24px;
  margin: 8px;
  fill: #5f6368;
  border-radius: 50%;
}
.svg-logo {
  border-radius: 50%;
  margin-right: 8px;
}
.svg-logo:hover {
  background-color: #3c404314;
}
a img {
  border-radius: 50%;
  margin: 4px;
  display: block;
}
.img-profile {
  border-radius: 50%;
  margin-right: 4px;
}
.img-profile:hover {
  border-radius: 50%;
  background-color: #3c404314;
}
.header-images {
  margin-right: 19px;
}
.header-gmail {
  margin-right: 15px;
}
.header-gmail:hover,
.header-images:hover {
  text-decoration: underline;
}
/* Logo Section */
.logo-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 290px;
  min-height: 92px;
  height: -webkit-calc(100vh - 560px);
  height: -moz-calc(100vh - 560px);
  height: calc(100vh - 560px);
}
.google-logo {
  height: 92px;
}
