html,
body {
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 0px;
  line-height: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  padding: 0;
}
