body {
  font-family: Arial, sans-serif;
  min-width: 400px;
}
header a {
  color: rgba(0, 0, 0, 0.87);
  line-height: 4px;
}
header a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.87);
}
/* Header Section */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 14px 10px 6px;
  font-size: 13px;
}
.header-link {
  margin-left: 15px;
}
.apps-icon-link svg {
  width: 24px;
  fill: #5f6368;
}
.apps-icon-link {
  padding: 8px;
  margin-left: 19px;
}
.apps-icon-link:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}
.profile-icon {
  display: inline-block;
  padding: 4px;
  margin-left: 8px;
}
.profile-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}
.profile-icon img {
  border-radius: 50%;
}

/* Main Section */
main {
  height: calc(100% - 60px);
}
.google-logo-container {
  min-height: 92px;
  max-height: 290px;
  height: calc(100vh - 560px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.search-input .magnify-icon {
  width: 20px;
  height: 20px;
  margin: 12px 13px 12px 14px;
  fill: #9aa0a6;
}
.remove-text-link {
  display: block;
  padding: 10px 0 10px 8px;
  margin-right: 4px;
}
.remove-text-link svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #80868b;
  margin-right: 12px;
}
.link-border-right {
  border-left: 1px solid #dfe1e5;
  height: 100%;
  display: inline-block;
}

.keyboard-icon-link {
  padding: 0 8px;
}
.keyboard-icon-link img {
  margin-left: 3px;
  margin-top: 17px;
  margin-right: 2px;
  width: 19px;
  height: 11px;
}
.mic-icon-link {
  padding: 0 8px;
  margin-right: 8px;
}
.mic-icon-link svg {
  width: 24px;
  margin-top: 10px;
}

.search-bar {
  max-width: 584px;
  margin: 26px auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
.search-input {
  display: flex;
}
.search-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.search-bar:focus-within {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.search-bar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
input:not(:valid) ~ .remove-text-link {
  display: none;
}
.search-suggestions {
  display: none;
  font-size: 12px;
  line-height: 24px;
  max-width: 584px;
  margin: 0 auto;
  min-height: 300px;
  background-color: white;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.search-bar:focus-within .search-suggestions {
  display: block;
}
.search-bar:focus-within ~ .buttons-wrapper {
  display: none;
}
.search-suggestions hr {
  border: 0;
  border-top: 1px solid #e8eaed;
  margin: 0 20px 4px 14px;
}

.search-suggestions .text-suggestion {
  display: flex;
  align-items: center;
  padding: 6px 20px 6px 14px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.suggestion-all {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  padding: -16px 0;
}
.search-suggestions .img-suggestion {
  display: flex;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
.img-suggestion-title {
  font-weight: normal;
  font-size: 16px;
  margin-top: 6px;
  margin-left: 1px;
  color: #212121;
}
.search-suggestions .img-suggestion-content {
  display: inline-block;
  color: #80868b;
  font-size: 13px;
  margin-left: 1px;
  margin-top: -1px;
  font-weight: normal;
}

.img-suggestion img {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 6px;
}
.search-suggestions div:hover {
  background-color: #eeeeee;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 29px;
}
.buttons-wrapper-suggestions {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  min-width: 54px;
  height: 36px;
  line-height: 27px;
  padding: 0 16px;
  margin: 0 6px;
}
.button:hover {
  border: 1px solid rgb(218, 220, 224);
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.search-suggestions svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  fill: #9aa0a6;
}
.search-suggestions span {
  display: inline-block;
  margin-top: 2px;
}
.report {
  display: flex;
  font-style: italic;
  font-size: 8pt;
  justify-content: flex-end;
  color: #70757a;
  width: 100%;
  padding-right: 20px;
}
.report:hover {
  text-decoration: underline;
}
/* Footer Section */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.footer-container a {
  font-size: 14px;
  line-height: 47px;
  padding-left: 35px;
  color: rgba(0, 0, 0, 0.54);
}
.footer-down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container .turkey {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -5px;
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
}
.test {
  display: inline-block;
  margin-left: -13px;
}
.test2 {
  margin-right: -10px;
}
.footer-down-center {
  margin-right: 134px;
}
.footer-down-center .leaf {
  display: inline;
  width: 12px;
  margin-right: -29px;
  margin-bottom: -1px;
}
.about {
  margin-right: 15px;
}
.ads {
  margin-right: 3px;
  margin-left: -24px;
}
.company {
  margin-right: 3px;
}
.searching {
  margin-left: -12px;
  margin-right: -13px;
}
.privacy {
  margin-left: -2px;
}
.terms {
  margin-left: 1px;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .footer-down-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
    margin-left: 130px;
    margin-bottom: -2px;
  }
  .footer-down-center .leaf {
    display: inline;
    width: 12px;
    margin-right: -29px;
    margin-bottom: 3px;
  }
  .footer-down-left {
    display: flex;
    order: 2;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: -1px;
  }
  .footer-down-right {
    order: 2;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 55px;
    margin-bottom: -2px;
  }
  .about {
    margin-top: 2px;
    margin-left: -32px;
  }
  .ads {
    margin-top: 2px;
    margin-right: -20px;
  }
  .company {
    margin-top: 2px;
    margin-left: 15px;
  }
  .searching {
    margin-top: 2px;

    margin-left: -6px;
  }
  .privacy {
    margin-right: -5px;
  }
  .sartlar {
    margin-left: 0px;
  }
  .settings {
    margin-left: 5px;
  }
  .search-suggestions,
  .search-bar {
    z-index: 6;
    position: relative;
  }
}
@media only screen and (max-width: 756px) {
  .footer-container {
    z-index: 4;
  }
  .buttons-wrapper {
    z-index: 0;
  }
  .search-suggestions,
  .search-bar {
    z-index: 6;
    position: relative;
  }
  .footer-down-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
    margin-right: 130px;
  }
  .footer-down-center .leaf {
    display: inline;
    width: 12px;
    height: 14px;
    margin-right: -29px;
    margin-bottom: 3px;
  }
  .footer-down-left {
    display: flex;
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
  }

  .footer-down-right {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 57px;
    margin-bottom: -1px;
  }
  .test {
    margin-left: 44px;
  }
  .privacy {
    margin-left: -2px;
  }
  .terms {
    margin-left: 0px;
  }
  .deneme {
    margin-right: -49px;
  }
  .search-bar {
    max-width: 584px;
    margin: 26px 20px 0 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
  }
}
